name: Build and Deploy Docker Image

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t todo:latest .

      - name: Stop old container
        run: |
          docker stop todo || true
          docker rm todo || true

      - name: Run new container
        run: |
          docker run -d \
            --name todo \
            --restart unless-stopped \
            -p 3000:3000 \
            todo:latest
